<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cardnumber %><br />
    <%= f.text_field :cardnumber %>
  </div>
  <div class="field">
    <%= f.label :cardholder %><br />
    <%= f.text_field :cardholder %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :basket_id %><br />
    <%= f.text_field :basket_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
