<p id="notice"><%= notice %></p>

<p>
  <b>Cardnumber:</b>
  <%= @payment.cardnumber %>
</p>

<p>
  <b>Cardholder:</b>
  <%= @payment.cardholder %>
</p>

<p>
  <b>Amount:</b>
  <%= @payment.amount %>
</p>

<p>
  <b>Basket:</b>
  <%= @payment.basket_id %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
