

    <div id="howto">
      <div class="wrap">
      
      <div class="box">
      <p class="language">Ruby Version</p>
      
      <p class="side">1: Client Side</p>      
      <%= image_tag 'code_ruby_01.png' %>
      <br /><br />
      <p class="side">2: Server Side</p>   
      <%= image_tag 'code_ruby_02.png' %>
        
      </div>

      <div class="box">
      
      <p class="language">Java Version</p>
      <p class="side">1: Client Side</p>   
      <%= image_tag 'code_java_01.png' %>
      <br /><br />
      <p class="side">2: Server Side</p>   
      <%= image_tag 'code_java_02.png' %>

    </div>

      <div class="box">
      
      <p class="language">.NET Version</p>
      <p class="side">1: Client Side</p>   
      <%= image_tag 'code_net_01.png' %>
      <br /><br />
      <p class="side">2: Server Side</p>   
      <%= image_tag 'code_net_02.png' %>

      </div>
 


      </div>
    </div>
  
 

	<div id="contentWrap">
    	<div id="contentHome">
        	
			<div id="quickPretending">
				<h2><span>QUIT PRETENDING</span></h2>
				<p>CRUD through HTTP is a good step forward to using resources and becoming RESTful, another step further is to make use of hypermedia aware resources and Restfulie allows you to do it in Java and Ruby.</p>
				
			</div><!-- content-Area-->
			
			<div id="boxvideo">
				<div style="width:425px;text-align:left;height:355px" id="__ss_2735769">
	<object width="400" height="300"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=11294789&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=11294789&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed></object>
				</div>
			</div>
            
			<div id="restBenefits">
				<h3>Why Restfulie?</h3>
				<ol type="1">
					<li><b>Easy →</b> writing hypermedia aware resource based clients and servers</li>
					<li><b>Small →</b> it’s not a bloated solution with a huge list of APIs</li>
					<li><b>HATEOAS →</b> clients you are unaware of will not bother if you evolve</li>
						<li>1. Start by <a href="<%=url_for :features%>">reading about <b>Rest and HATEOAS</b></a></li>
						<li>2. Then checkout <a href="<%=url_for :rails%>">our <b>Rails booklet</b></a></li>
						<li>3. Or read the Java chapter in the same booklet</li>
				</ol>
			</div><!--restBenefits-->   


						<div id="moreAbout">
						<h2><span>About Caelum</span></h2>
						<p>Learn more about Caelum at <a href="http://www.caelumobjects.com">caelumobjects.com</a> and <a href="http://www.caelum.com.br">caelum.com.br</a></p>
						</div><!-- moreAbout-->

        </div><!-- content cnt -->
    </div><!-- content wrap-->
    
    <div id="bannerWrap">
      	<div id="banner">
              <div id="hypermediaBox">
  				<h3>hypermedia</h3>
  				<p>allows real loose coupling between clients and servers.</p>
  			</div><!--hypermedia-->
  			<div id="smallBox">
  				<h3>small</h3>
  				<p>restfulie is small.<br/>the web is your stack.</p>
  			</div><!--small-->
  			<div id="simpleBox">
  				<h3>client and server</h3>
  				<p>easy to code clients, default behavior on servers.</p>
  			</div><!-- simple-->            
          </div><!--banner-->
      </div><!--bannerWrap-->
