<h1>Editing payment</h1>

<% form_for(@payment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :cardholderName %><br />
    <%= f.text_field :cardholderName %>
  </p>
  <p>
    <%= f.label :cardNumber %><br />
    <%= f.text_field :cardNumber %>
  </p>
  <p>
    <%= f.label :expiryMonth %><br />
    <%= f.text_field :expiryMonth %>
  </p>
  <p>
    <%= f.label :expiryYear %><br />
    <%= f.text_field :expiryYear %>
  </p>
  <p>
    <%= f.label :paymentDate %><br />
    <%= f.datetime_select :paymentDate %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @payment %> |
<%= link_to 'Back', payments_path %>