<h1>Listing Orders</h1>

<table>
  <tr>
    <th>Id</th>
    <th>State</th>
    <th>Amount</th>
    <th>Payed</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.id %></td>
    <td><%=h order.state %></td>
    <td><%=h order.amount %></td>
    <td><%=h order.payed %></td>
    <td><%= link_to 'Destroy'  , order, :method => :delete %></td>
    <td><%= link_to 'Add Items', order_items_url(order) %></td>
    <td><%= link_to 'Pay'      , new_payment_url %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order', new_order_url %>

